body
  & > #container
    padding-top: 0
    padding-bottom: 70px
    font-family: Arial, sans-serif
    color: black

#header
  height: 80px
  display: block

  & #logo
    padding-top: 20px
    font-family: Verdana, Arial, sans-serif
    font-size: 30px
    font-weight: 700
    font-style: italic


table#list-cost
  font-family: Arial, sans-serif
  color: black

  & > thead > tr > th
    text-align: center